@import "parts/_cards.scss";
@import "parts/_code.scss";
@import "parts/_header.scss";
@import "parts/_image.scss";
@import "parts/misc.scss";
@import "parts/table.scss";
@import "parts/tags.scss";
@import "parts/_mermaid.scss";

:root {
  /* Used for: block comment, hr, ... */
  --border-color: var(--bg-1);

  /* Fonts */
  --text-font: 'DejaVu Sans', sans-serif;
  --header-font: 'Verdana', 'DejaVu Sans', sans-serif;
  --code-font: 'DejaVu Sans Mono', monospace;
}

html {
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: var(--text-font);
  line-height: 1.6em;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  word-wrap: break-word;
}

@media all and (min-width:640px) {
  html {
    font-size: 14px;
  }
}

@media all and (min-width:720px) {
  html {
    font-size: 15px;
  }
}

@media all and (min-width:960px) {
  html {
    font-size: 16px;
  }
}

.input-box {
  display: flex;
  height: 30px;
}

.input-box input[type=range] {
  width: 200px;
}

.input-text {
  color: #F8F8F2;
  margin-left: 10px;
}

input[type=range] {
  height: 30px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: #BD93F9;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #F8F8F2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #BD93F9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: #BD93F9;
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #F8F8F2;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
}
input[type=range]::-ms-fill-lower {
  background: #BD93F9;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #BD93F9;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #F8F8F2;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #BD93F9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #BD93F9;
}

.cr-wrapper *,
.cr-wrapper *::before,
.cr-wrapper *::after {
  box-sizing: content-box !important;
}

.cr-wrapper input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.cr-wrapper span {
  color: #F8F8F2;
}

.cr-wrapper {
  display: table;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 0px;
}

.cr-wrapper input[type="checkbox"] ~ .cr-input {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  background: #44475A;
  transition: background 250ms;
  border-radius: 4px;
  transform: translate(0, -50%);
}

.cr-wrapper input[type="radio"] ~ .cr-input {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  background: #44475A;
  transition: background 250ms;
  border-radius: 20px;
  transform: translate(0, -50%);
}

.cr-wrapper input[type="checkbox"] ~ .cr-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  transition: background 250ms;
  background-color: #FFFFFF;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.cr-wrapper input[type="radio"] ~ .cr-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background: #FFFFFF;
  transition: background 250ms;
}

.cr-wrapper input:checked ~ .cr-input::after {
  display: block;
}

.cr-wrapper input[type="checkbox"]:checked ~ .cr-input {
  background: #BD93F9;
}

.cr-wrapper input[type="radio"]:checked ~ .cr-input {
  background: #BD93F9;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input,
.cr-wrapper input[type="radio"]:disabled ~ .cr-input {
  opacity: 0.5;
  cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ span,
.cr-wrapper input[type="radio"]:disabled ~ span {
  opacity: 0.5;
  cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input::after {
  background: #FFFFFF;
}

.cr-wrapper input[type="radio"]:disabled ~ .cr-input::after {
  background: #FFFFFF;
}

.block {
  background-color: var(--bg-code);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  max-width: 100%;
  display: block;
  margin: auto;
}

.svg {
  background-color: var(--bg-code);
  padding: 0.1em 0.2em;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 0.5em;
  max-width: calc(100% - 2em);
  display: block;
  margin: auto;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid var(--border-color);

  margin: 0 0 20px 0;
  background-color: var(--table-bg);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

table th {
  border: none;
}

table td {
  border: none;
}
