/* ===== Syntax Highlighting — Dracula (all modes) ===== */
.chroma { color: #f8f8f2; background-color: #282a36; }
.chroma .err {  }
.chroma .hl { background-color: #3d3f4a }
.chroma .ln, .chroma .lnt { color: #7f7f7f }
.chroma .k, .chroma .kc, .chroma .kn, .chroma .kp, .chroma .kr { color: #ff79c6 }
.chroma .kd { color: #8be9fd; font-style: italic }
.chroma .kt { color: #8be9fd }
.chroma .na { color: #50fa7b }
.chroma .nb { color: #8be9fd; font-style: italic }
.chroma .nc { color: #50fa7b }
.chroma .nf { color: #50fa7b }
.chroma .nl { color: #8be9fd; font-style: italic }
.chroma .nt { color: #ff79c6 }
.chroma .nv, .chroma .vc, .chroma .vg, .chroma .vi { color: #8be9fd; font-style: italic }
.chroma .s, .chroma .sa, .chroma .sb, .chroma .sc, .chroma .dl, .chroma .sd, .chroma .s2, .chroma .se, .chroma .sh, .chroma .si, .chroma .sx, .chroma .sr, .chroma .s1, .chroma .ss { color: #f1fa8c }
.chroma .m, .chroma .mb, .chroma .mf, .chroma .mh, .chroma .mi, .chroma .il, .chroma .mo { color: #bd93f9 }
.chroma .o, .chroma .ow { color: #ff79c6 }
.chroma .c, .chroma .ch, .chroma .cm, .chroma .c1, .chroma .cs { color: #6272a4 }
.chroma .cp, .chroma .cpf { color: #ff79c6 }
.chroma .gd { color: #ff5555 }
.chroma .gi { color: #50fa7b; font-weight: bold }
.chroma .go { color: #44475a }
