{{/*  header template  */}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{/*  设置基础URL  */}}
    <meta name="base" content="{{ .Site.BaseURL }}">

    {{/*  检查是否存在自定义的meta数据  */}}
    {{ with .Params.meta }}
        {{ range . }}
            <meta
                {{- range $key, $value := . -}}
                    {{- if and (eq $key "property") (eq $value "og:title") -}}
                        {{- $.Scratch.Set "page_has_og_title" true -}}
                    {{- end -}}
                    {{- if and (eq $key "property") (eq $value "og:description") -}}
                        {{- $.Scratch.Set "page_has_og_description" true -}}
                    {{- end -}}
                    {{- if and (eq $key "name") (eq $value "description") -}}
                        {{- $.Scratch.Set "page_has_description" true -}}
                    {{- end -}}
                    {{ $key }}="{{ $value }}"
                {{- end -}}
            />
        {{ end }}
    {{ end }}

    {{ $current_path := .RelPermalink | default "/" }}
    {{ if eq $current_path "/" }}
        <title>{{ .Site.Title | default "Home" }}</title>
        {{ if not ($.Scratch.Get "page_has_og_title") }}
            <meta property="og:title" content="{{ .Site.Title | default "Home" }}" />
        {{ end }}
    {{ else }}
        <title>
            {{- if .Title -}}
                {{ .Title }}
            {{- else if .Section -}}
                {{ .Section }}
            {{- else if .Site.Title -}}
                {{ .Site.Title }}
            {{- else -}}
                Post
            {{- end -}}
        </title>
        {{ if not ($.Scratch.Get "page_has_og_title") }}
            <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else if .Site.Title }}{{ .Site.Title }}{{ else }}Post{{ end }}" />
        {{ end }}
    {{ end }}

    {{ if not ($.Scratch.Get "page_has_og_description") }}
        {{ if .Description }}
            <meta property="og:description" content="{{ .Description }}" />
        {{ else if .Site.Params.description }}
            <meta property="og:description" content="{{ .Site.Params.description }}" />
        {{ end }}
    {{ end }}

    {{ if not ($.Scratch.Get "page_has_description") }}
        {{ if .Description }}
            <meta name="description" content="{{ .Description }}" />
        {{ else if .Site.Params.description }}
            <meta name="description" content="{{ .Site.Params.description }}" />
        {{ end }}
    {{ end }}

    {{ with .Site.Params.favicon }}
        <link rel="icon" type="image/png" href="{{ . | relURL }}" />
    {{ end }}

    {{ if .Site.Params.use_cdn }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/space-grotesk@4.5.8/index.min.css">
    {{ end }}

    {{ with .Site.Params.analytics }}
        {{ with .umami.website_id }}
            <script defer src="/js/imamu.js" data-website-id="{{ . }}" data-host-url="{{ $.Site.Params.analytics.umami.host_url | default "https://api-gateway.umami.dev/" }}"></script>
        {{ end }}
        {{ with .goatcounter.user }}
            <script data-goatcounter="https://{{ . }}.{{ $.Site.Params.analytics.goatcounter.host | default "goatcounter.com" }}/count"
                    async
                    src="{{ "js/count.js" | relURL }}"></script>
            <noscript>
                <img src="https://{{ . }}.{{ $.Site.Params.analytics.goatcounter.host | default "goatcounter.com" }}//count?p={{ $current_path }}&t={{ $.Title | default $.Site.Title }}">
            </noscript>
        {{ end }}
    {{ end }}

    {{ if .Site.Params.fancy_code }}
        <script src="{{ "js/codeblock.js" | relURL }}"></script>
    {{ end }}

    {{ if .Site.Params.toc }}
        <script src="{{ "js/toc.js" | relURL }}"></script>
    {{ end }}

    {{ if .Site.Params.dynamic_note }}
        <script src="{{ "js/note.js" | relURL }}"></script>
    {{ end }}

    {{ if .Site.Params.mathjax }}
        {{ if .Site.Params.mathjax_dollar_inline_enable }}
            <script>
            MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
              }
            };
            </script>
        {{ end }}
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {{ end }}

    <link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" href="{{ "index.xml" | relURL }}">

    {{ $theme := .Site.Params.theme | default "toggle" }}
    {{ if eq $theme "dark" }}
        {{ $dark := resources.Get "sass/theme/dark.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $dark.RelPermalink }}" />
    {{ else if eq $theme "light" }}
        {{ $light := resources.Get "sass/theme/light.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $light.RelPermalink }}" />
    {{ else if eq $theme "auto" }}
        {{ $light := resources.Get "sass/theme/light.scss" | toCSS | minify | fingerprint }}
        {{ $dark := resources.Get "sass/theme/dark.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $light.RelPermalink }}" />
        <link rel="stylesheet" href="{{ $dark.RelPermalink }}" media="(prefers-color-scheme: dark)" />
    {{ else if eq $theme "toggle" }}
        {{ $light := resources.Get "sass/theme/light.scss" | toCSS | minify | fingerprint }}
        {{ $dark := resources.Get "sass/theme/dark.scss" | toCSS | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $light.RelPermalink }}" />
        <link id="darkModeStyle" rel="stylesheet" href="{{ $dark.RelPermalink }}" />
    {{ end }}

    {{ if or (eq $theme "auto") (eq $theme "toggle") }}
        <script src="{{ "js/themetoggle.js" | relURL }}"></script>
        {{ if eq $theme "auto" }}
            <script>
                if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    setTheme("dark");
                } else {
                    setTheme("light");
                }
            </script>
        {{ else }}
            <script>setTheme(getSavedTheme());</script>
        {{ end }}
    {{ end }}

    {{ $main := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $main.RelPermalink }}" />

    {{ with .Site.Params.stylesheets }}
        {{ range . }}
            <link rel="stylesheet" href="{{ . | relURL }}">
        {{ end }}
    {{ end }}

    {{ if .Site.Params.build_search_index }}
        {{ $search_index_format := .Site.Params.search_index_format | default "elasticlunr_json" }}
        {{ if eq $search_index_format "elasticlunr_javascript" }}
            <script defer src="{{ printf "search_index.%s.js" .Site.Language.Lang | relURL }}"></script>
        {{ end }}
        <script defer src="{{ "js/searchElasticlunr.min.js" | relURL }}"></script>
    {{ end }}
</head>