{{/* layouts/shortcodes/mermaid.html */}}
{{- if not (.Page.Scratch.Get "mermaid") -}}
{{- $mermaidJS := resources.Get "js/mermaid.js" -}}
{{- if $mermaidJS -}}
<script src="{{ $mermaidJS.RelPermalink }}"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
{{- end -}}
<script>
  // 检测当前主题
  const theme = document.documentElement.classList.contains('dark') ? 'dark' : 'default';
  
  mermaid.initialize({
    startOnLoad: true,
    theme: theme,
    themeVariables: {
      primaryColor: theme === 'dark' ? '#BD93F9' : '#FF8C00',
      primaryTextColor: theme === 'dark' ? '#fff' : '#000',
      primaryBorderColor: theme === 'dark' ? '#44475A' : '#ddd',
      lineColor: theme === 'dark' ? '#fff' : '#333',
      secondaryColor: theme === 'dark' ? '#44475A' : '#f4f4f4',
      tertiaryColor: theme === 'dark' ? '#282A36' : '#fff',
      fontSize: '18px'
    },
    flowchart: {
      padding: 20,
      nodeSpacing: 80,
      rankSpacing: 80
    }
  });
</script>
{{- .Page.Scratch.Set "mermaid" true -}}
{{- end -}}

<pre class="mermaid">{{ .Inner | safeHTML }}</pre>


{{/*  
  在markdown中使用Mermaid图标  

  {{< mermaid >}}
  graph TD;
    A-->B;
    A-->C;
    B-->D;
    C-->D;
  {{< /mermaid >}}
*/}}